@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="container text-center mt-5">
    <h1 class="display-10">Welcome to @Model.StoreName</h1>
    <p class="lead">@Model.StoreAddress</p>
    <p class="lead">@Model.StorePhone</p>

</div>
