@page
@model ListModel
@{
    ViewData["Title"] = "Home page";
}

<form method="post">
    <h1 class="mt-4 mb-4 text-center">Inventory Item Records</h1>
    <table class="table text-center">
        <thead>
            <tr>
                <th>Item Number</th>
                <th>Item Name</th>
                <th>Item Price Per Unit</th>
                <th>Item Quantity</th>
            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model.Items)
            {
                <tr>
                    <td>@item.ItemId</td>
                    <td>@item.ItemName</td>
                    <td>$ @item.ItemPricePerUnit</td>
                    <td>@item.ItemQuantityInStock</td>
                </tr>
            }
        </tbody>
    </table>


    @if (Model.Items.Count == 00)
    {
        <h3 class="mt-4 mb-4 text-center">No items available</h3>
    }
</form>